/*--------------------
  MOBILE MEDIA
--------------------*/

//Large Devices, Wide Screens
@media only screen and (max-width: 1440px) {
   //**
}

//Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {
   //**
}

//Large Devices, Wide Screens
@media only screen and (max-width: 1024px) {
   //**
}

//Medium Devices, Desktops
@media only screen and (max-width: 992px) {
   //**
}

//Small Devices, Tablets
@media only screen and (max-width: 768px) {
   //**
}

//Small Devices, Tablets
@media only screen and (max-width: 640px) {
   //**
}

//Extra Small Devices, Phones
@media only screen and (max-width: 480px) {
   //**
}

//Custom, iPhone Retina
@media only screen and (max-width: 320px) {
   //**
}
