/* --------------------
  VARIABLES
-------------------- */

// LESS - @
// SCSS, SASS - $
// CSS - var(--variable)

// COLOR
$white: #ffffff;
$black: #000000;

// FONT
$ff-base: "Arial", sans-serif;
$fw-base: 400;
$fs-base: normal;
$fz-base: 16px;
$lh-base: 1.5;

// MEDIA
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tabletS: 480px;
$tabletM: 640px;
$tabletL: 768px;
$laptopS: 992px;
$laptopM: 1024px;
$laptopL: 1200px;

// COMPONENTS STYLES VARIABLES
$container: 1230px;
