extends ../templates/index

block variables
    - var title = "Главная страница";
    - var lang = "ru-RU";
    - var styles = "styles/styles.min.css";
    - var description = "";
    - var author = "";
    - var keywords = "";

block content
    include ../content/index

block script
    script(type="module" src="scripts/main.bundle.js")