extends ../templates/index

block variables
  - var title = "Главная страница";
  - var lang = "ru-RU";
  - var description = "";
  - var author = "";
  - var keywords = "";

block modules
  include ../modules/footer
  include ../modules/header

block sections
  include ../sections/hero

block components
  include ../components/buttons/buttons
