extends ../templates/index

block variables
    - var title = "Главная страница";
    - var lang = "ru-RU";
    - var description = "";
    - var author = "";
    - var keywords = "";

block content
    include ../content/index
