/*--------------------
  COMMON STYLES
--------------------*/
@import "../helpers/_variables.scss";

html,
body {
  background-color: $white;
  font-weight: $fw-base;
  font-size: $fz-base;
  line-height: $lh-base;
  font-family: $ff-base;
  color: $black;
  font-style: $fs-base;
}
